<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.rodinp.core.attributeTypes">
      <attributeType
            id="probabilistic"
            kind="boolean"
            name="Event-B Probabilistic Attribute">
      </attributeType>
   </extension>
   <extension
         point="org.rodinp.core.itemRelations">
      <relationship
            parentTypeId="org.eventb.core.event">
         <attributeType
               typeId="Hello.probabilistic">
         </attributeType>
      </relationship>
   </extension>
   <extension
         point="org.rodinp.core.internalElementTypes">
      <internalElementType
            class="hello.basis.Bound"
            id="bound"
            name="Event-B Bound Element">
      </internalElementType>
   </extension>

</plugin>
